/* BODY */
body {
    font-size: 12px;
    //padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#HomePage {
    /*background-image: url('../images/inception-movie.jpg');*/
}

.ConnexionButton, .InscriptionButton, .ConnexionButtonForm {
    background-color: #D9001B;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    height: 50px;
    width: 200px;
}
.ConnexionButton {
    float: right;
    
    
}

.ConnexionButton:hover, .InscriptionButton:hover {
    text-decoration: none !important;
    color: black;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    padding-left: 10%;
}

.navbar.fixed {
    transition-duration: .5s,.1s;
    transition-delay: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navitem {
    float: left;
    display: inline-block;
    font-size: 20px;
    color: white;
    line-height: inherit;
    letter-spacing: 0;
    padding: 28px 17px;
}

.navitem:hover {
    color: #D9001B;
    text-decoration: none;
}

.Center{
    padding:50px;
}
footer {
    bottom: 0;
    position: fixed;
}

.InscriptionContent, .ConnexionContent {
    background-color: rgba(0, 0, 0, 0.6);
    width:450px;
    height:auto;
    padding: 10px;
}

.Center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .Center > p, .Center > h3 {
        font-size: 4rem;
        text-align: center;
        margin: 60px;
    }
#buttonCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}


.ContainerFlexColumn {
    display: flex;
    flex-direction: column;
}

.ContainerFlexWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.SerieAffiche {
    width: 500px;
    height:800px;
    background-image: url('../images/affiche-serie.jpg');
}
.FilmAffiche {
    width: 500px;
    height: 800px;
    background-image: url('../images/affiche-film.jpg');
}
