@{ViewBag.Title = "Contenu";}
    <div class="ContainerFlexColumn">
        <h1>Contenu</h1>
        <div class="ContainerFlexWrap">
            @* Action Link pour s'inscrire qui utilise l'action Inscription du controller Login  *@
            @Html.ActionLink("Series", "Series", "Serie", null, new { @class = "SerieAffiche" })
            <br />
            @* Action Link pour s'inscrire qui utilise l'action Inscription du controller Login  *@
            @Html.ActionLink("Films", "Films", "Film", null, new { @class = "FilmAffiche" })
        </div>
    </div>