@{ViewBag.Title = "Contenu";}
<h1>Contenu</h1>
@* Action Link pour s'inscrire qui utilise l'action Inscription du controller Login  *@
@Html.ActionLink("Series", "Series", "Serie")
<br />
@* Action Link pour s'inscrire qui utilise l'action Inscription du controller Login  *@
@Html.ActionLink("Films", "Films", "Film")

