
@{
    ViewBag.Title = "Research";
}


@if (ViewBag.ResearchSeries != null)
{   <h2>Series</h2>
    foreach (MediaStreamProject.Models.Serie serie in ViewBag.ResearchSeries)
    {

        <a href="~/Serie/Seasons/@serie.Id">
            <img src=@serie.Image class="Vignette" />
        </a>
        <br />
        @serie.Title
    }
}
<br />
@if (ViewBag.ResearchFilms != null)
{
    <h2>Films</h2>
    foreach (MediaStreamProject.Models.Film film in ViewBag.ResearchFilms)
    {

        <a href="~/Film/VideoFilms/@film.Id"><img src="../@film.Image" class="Vignette"/></a>
        <br />
        @film.Title

    }
}



