@{ ViewBag.Title = "Episodes";}

<h2>Episodes</h2>
<ul>
    @foreach (MediaStreamProject.Models.Episode episode in ViewBag.Episodes)
    {
    <li><a href="~/Serie/VideoEpisodes/@episode.Id">Episode @episode.Number</a></li>
    }
</ul>
